body {
  margin: 0;
  padding: 10px 20px;
  // background : linear-gradient(90deg, rgba(243,0,255,1) 0%, rgba(153,0,255,1) 100%);
  background-color: rgba(153,0,255,1);
  background-repeat: no-repeat;
  font-family: 'Gemunu Libre', sans-serif;
  height: 100vh;
  color: white;

  &::-webkit-scrollbar{
    display: none;
  }

}



*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}
